<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
  <add key="initialdirectory" value="\\172.27.4.227\\c$\\PreviousFolders\\" />
  <add key="newdirectory" value="\\172.27.4.227\\c$\\ATMJournal\\" />
  <add key="dirr" value="\\WEMA-HQ-BA-TEST\App_Upload\"/>
  
</appSettings>
  <connectionStrings><add name="ATMArchiverEntities" connectionString="metadata=res://*/DATA.ATMArchiver.csdl|res://*/DATA.ATMArchiver.ssdl|res://*/DATA.ATMArchiver.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.27.4.227;initial catalog=ATMArchiver;persist security info=True;user id=sa;password=Wema123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>